<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="clientInfoFormGroup">
    <form [formGroup]="clientInfoFormGroup">
      <ng-template matStepLabel>Client Information</ng-template>
      <div class="register-content">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Document</mat-label>
            <input matInput placeholder="144789966" formControlName="document" required>
            <mat-icon matSuffix>fingerprint</mat-icon>
            <mat-hint>Number of your identification document</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Jhon Doe" formControlName="fullname" required>
            <mat-hint>Your first and last name</mat-hint>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate" placeholder="Choose a date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Date of your birth</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Place of birth</mat-label>
            <input matInput placeholder="Moscow" formControlName="place" required>
            <mat-icon matSuffix>place</mat-icon>
            <mat-hint>City of your birth</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Evergreen Avenue" formControlName="address" required></textarea>
            <mat-icon matSuffix>home</mat-icon>
            <mat-hint>Street + Number</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nationality</mat-label>
            <mat-select placeholder="Select country" formControlName="nationality" required>
              <mat-option *ngFor="let country of countries" [value]="country.value">
                {{country.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>language</mat-icon>
            <mat-hint>Country were you birth</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>TIN</mat-label>
            <input matInput placeholder="144789966" formControlName="tin" required>
            <mat-icon matSuffix>number</mat-icon>
            <mat-hint>Tax Identification Number</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Telephone Number</mat-label>
            <span matPrefix>+ &nbsp;</span>
            <input type="tel" matInput placeholder="+525564510956" formControlName="telephone" required>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint>Your telephone number</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="mail@server.com" formControlName="email" [errorStateMatcher]="matcher">
            <mat-hint>Your Email Address</mat-hint>
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Currency</mat-label>
            <mat-select placeholder="Select currency" formControlName="currency" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                {{currency.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>euro_symbol</mat-icon>
            <mat-hint>Your main currency</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <span class="spacer"></span>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="accountMandatesFormGroup">
    <form [formGroup]="accountMandatesFormGroup">
    <ng-template matStepLabel>Account Management Mandates</ng-template>
      <div class="register-content">
        <div class="col">
          <mat-checkbox formControlName="mandatePIBL">Do you want to grant a mandate for management of your account to PIBL?</mat-checkbox>
          <mat-checkbox formControlName="mandate3Party">Do you want to grant a mandate for management of your account to a 3rd Party?</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <span class="spacer"></span>
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

<mat-step [stepControl]="poaFormGroup">
  <form [formGroup]="poaFormGroup">
    <ng-template matStepLabel>Power of Attorney Requirements</ng-template>
    <div class="register-content">
      <div class="col">
        <mat-checkbox formControlName="grantPOA">Is the account holder granting Power of Attorney (POA) for a 3rd Party?</mat-checkbox>
      </div>
    </div>
    <div class="row">
      <span class="spacer"></span>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </form>
</mat-step>

<mat-step [stepControl]="beneficialFormGroup">
<form [formGroup]="beneficialFormGroup">
    <ng-template matStepLabel>Information for Ultimate Beneficial Owners</ng-template>
    <div class="register-content">
      <div class="col">
        <mat-checkbox formControlName="beneficials">Is the account having additional Beneficial Owners?</mat-checkbox>
      </div>
    </div>
    <div class="row">
      <span class="spacer"></span>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </form>
</mat-step>

<mat-step [stepControl]="expectedTransactionsFormGroup">
<form [formGroup]="expectedTransactionsFormGroup">
<ng-template matStepLabel>Account Expected Transactions</ng-template>
    <div class="register-content">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Purpose of account</mat-label>
          <mat-select placeholder="Purpose of account" formControlName="purposeAccount" required>
            <mat-option *ngFor="let purpuse of purpuses" [value]="purpuse.value">
              {{purpuse.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Number of Initial deposit(s) expected</mat-label>
        <input type="number" matInput placeholder="5" formControlName="initialDeposits" required>
          <mat-icon matSuffix>number</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Global amount expected</mat-label>
          <input type="number" matInput placeholder="10000" formControlName="amountExpected" required>
          <mat-icon matSuffix>number</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Expected date of arrival</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="expectedArrival" placeholder="Choose a date" required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Expected number of monthly capital inflows</mat-label>
          <mat-select placeholder="Choose an option" formControlName="expectedInflows" required>
            <mat-option *ngFor="let level of levels" [value]="level.value">
              {{level.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Expected number of monthly capital outflows</mat-label>
          <mat-select placeholder="Choose an option" formControlName="expectedOutflows" required>
            <mat-option *ngFor="let level of levels" [value]="level.value">
              {{level.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Range of monthly capital inflows</mat-label>
          <mat-select placeholder="Choose an option" formControlName="rangeInflows" required>
            <mat-option *ngFor="let level of levels" [value]="level.value">
              {{level.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Range of monthly capital outflows</mat-label>
          <mat-select placeholder="Choose an option" formControlName="rangeOutflows" required>
            <mat-option *ngFor="let level of levels" [value]="level.value">
              {{level.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Level of Knowledge of the financial markets</mat-label>
          <mat-select placeholder="Choose an option" formControlName="financialMarkets" required>
            <mat-option *ngFor="let nivel of niveles" [value]="nivel.value">
              {{nivel.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="creditCard">Do you want a USD credit card?</mat-checkbox>

      </div>
    </div>
    <div class="row">
      <span class="spacer"></span>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </form>
</mat-step>

<mat-step [stepControl]="sourceFundsFormGroup">
<form [formGroup]="sourceFundsFormGroup">
<ng-template matStepLabel>Source of Funds</ng-template>
    <div class="register-content">
      <div class="col">
        <mat-form-field appearance="outline">
        <mat-label>Source of funds</mat-label>
          <mat-select placeholder="Choose an option" formControlName="sourceFunds" required>
            <mat-option *ngFor="let source of sources" [value]="source.value">
            {{source.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Name of Bank</mat-label>
          <mat-select placeholder="Choose an option" formControlName="nameBank" required>
            <mat-option *ngFor="let bank of banks" [value]="bank.value">
              {{bank.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Type of funds</mat-label>
          <mat-select placeholder="Choose an option" formControlName="fundType" required>
            <mat-option *ngFor="let fund of funds" [value]="fund.value">
              {{fund.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Brief explanation of the Origin of Funds</mat-label>
          <textarea matInput placeholder="" formControlName="originFunds" required></textarea>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <span class="spacer"></span>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </form>
</mat-step>

<mat-step [stepControl]="clientSituationFormGroup">
<form [formGroup]="clientSituationFormGroup">
<ng-template matStepLabel>Client Situation</ng-template>
    <div class="register-content">
      <div class="col">

<mat-form-field appearance="outline">
<mat-label>Any Political Activity?</mat-label>
  <mat-select placeholder="Choose an option" formControlName="hasPoliticalActivity" required>
<mat-option *ngFor="let option of yesNo" [value]="option.value">
 {{option.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
<mat-label>Professional Activity</mat-label>
  <mat-select placeholder="Choose an option" formControlName="professionalActivity" required>
<mat-option *ngFor="let option of activities" [value]="option.value">
      {{option.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
<mat-label>Industry sector</mat-label>
  <mat-select placeholder="Choose an option" formControlName="industrySector" required>
<mat-option *ngFor="let option of industries" [value]="option.value">
      {{option.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
<mat-label>Years of Activity</mat-label>
  <mat-select placeholder="Choose an option" formControlName="yearsActivity" required>
    <mat-option *ngFor="let option of years" [value]="option.value">
      {{option.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
<mat-label>Average revenue per year</mat-label>
  <mat-select placeholder="Choose an option" formControlName="revenuePerYear" required>
    <mat-option *ngFor="let option of revenues" [value]="option.value">
      {{option.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
<mat-label>Family Situation</mat-label>
  <mat-select placeholder="Choose an option" formControlName="familySituation" required>
    <mat-option *ngFor="let option of situations" [value]="option.value">
      {{option.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
<mat-label>Number of children</mat-label>
  <input type="number" matInput placeholder="0" formControlName="numberChildren" required>
</mat-form-field>

<mat-form-field appearance="outline">
<mat-label>Expected number of visits to the bank per year</mat-label>
  <input type="number" matInput placeholder="0" formControlName="numberVisits" required>
</mat-form-field>

      </div>
    </div>
    <div class="row">
      <span class="spacer"></span>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" (click)="stepper.reset()">Send</button>
    </div>
  </form>
</mat-step>

</mat-vertical-stepper>
