<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="clientInfoFormGroup">
    <form [formGroup]="clientInfoFormGroup">
      <ng-template matStepLabel>Client Information</ng-template>
      <div class="register-content">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Document</mat-label>
            <input matInput placeholder="144789966" formControlName="document" required>
            <mat-icon matSuffix>fingerprint</mat-icon>
            <mat-hint>Number of your identification document</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Jhon Doe" formControlName="fullname" required>
            <mat-hint>Your first and last name</mat-hint>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate" placeholder="Choose a date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Date of your birth</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Place of birth</mat-label>
            <input matInput placeholder="Moscow" formControlName="place" required>
            <mat-icon matSuffix>place</mat-icon>
            <mat-hint>City of your birth</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Evergreen Avenue" formControlName="address" required></textarea>
            <mat-icon matSuffix>home</mat-icon>
            <mat-hint>Street + Number</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nationality</mat-label>
            <mat-select placeholder="Select country" formControlName="nationality" required>
              <mat-option *ngFor="let country of countries" [value]="country.value">
                {{country.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>language</mat-icon>
            <mat-hint>Country were you birth</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>TIN</mat-label>
            <input matInput placeholder="144789966" formControlName="tin" required>
            <mat-icon matSuffix>number</mat-icon>
            <mat-hint>Tax Identification Number</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Telephone Number</mat-label>
            <span matPrefix>+ &nbsp;</span>
            <input type="tel" matInput placeholder="+525564510956" formControlName="telephone" required>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint>Your telephone number</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="mail@server.com" formControlName="email" [errorStateMatcher]="matcher">
            <mat-hint>Your Email Address</mat-hint>
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Currency</mat-label>
            <mat-select placeholder="Select currency" formControlName="currency" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                {{currency.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>euro_symbol</mat-icon>
            <mat-hint>Your main currency</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <span class="spacer"></span>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="accountMandatesFormGroup">
    <form [formGroup]="accountMandatesFormGroup">
    <ng-template matStepLabel>Account Management Mandates</ng-template>
      <div class="register-content">
        <div class="col">
          <mat-checkbox formControlName="mandatePIBL">Do you want to grant a mandate for management of your account to PIBL?</mat-checkbox>
          <mat-checkbox formControlName="mandate3Party">Do you want to grant a mandate for management of your account to a 3rd Party?</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <span class="spacer"></span>
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

<mat-step [stepControl]="poaFormGroup">
  <form [formGroup]="poaFormGroup">
    <ng-template matStepLabel>Power of Attorney Requirements</ng-template>
    <div class="register-content">
      <div class="col">
        <mat-checkbox formControlName="grantPOA">Is the account holder granting Power of Attorney (POA) for a 3rd Party?</mat-checkbox>
      </div>
    </div>
    <div class="row">
      <span class="spacer"></span>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </form>
</mat-step>

<mat-step [stepControl]="beneficialFormGroup">
<form [formGroup]="beneficialFormGroup">
    <ng-template matStepLabel>Information for Ultimate Beneficial Owners</ng-template>
    <div class="register-content">
      <div class="col">
        <mat-checkbox formControlName="beneficials">Is the account having additional Beneficial Owners?</mat-checkbox>
      </div>
    </div>
    <div class="row">
      <span class="spacer"></span>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </form>
</mat-step>

<mat-step [stepControl]="expectedTransactionsFormGroup">
<form [formGroup]="expectedTransactionsFormGroup">
<ng-template matStepLabel>Account Expected Transactions</ng-template>
    <div class="register-content">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Purpose of account</mat-label>
          <mat-select placeholder="Purpose of account" formControlName="purposeAccount" required>
            <mat-option *ngFor="let purpuse of purpuses" [value]="purpuse.value">
              {{purpuse.viewValue}}
            </mat-option>
          </mat-select>
          <mat-hint>Purpose of account</mat-hint>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <span class="spacer"></span>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </form>
</mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div class="row">
      <span class="spacer"></span>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="primary" (click)="stepper.reset()">Send</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
