.register-card {
  max-width: 800px;

  .register-content {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    .register-actions {
      justify-content: flex-start;

      .push-right {
        margin-left: auto;
      }
    }

    .col1 {
      flex: 1;
      margin-left: 10%
    }

    .col2{
      flex: 2;
    }
  }
