<mat-card class="register-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Register Information</mat-card-title>
    <mat-card-subtitle>Lead</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <pib-stepper-content></pib-stepper-content>
  </mat-card-content>
  <!-- <mat-card-actions class="register-actions row">
    <div class="push-right"></div>
    <button mat-raised-button color="accent">SEND</button>
  </mat-card-actions> -->
</mat-card>

