$md-pantone382u: (
    50 : #f3f8e9,
    100 : #e1ecc7,
    200 : #cde0a2,
    300 : #b8d47c,
    400 : #a9ca60,
    500 : #9ac144,
    600 : #92bb3e,
    700 : #88b335,
    800 : #7eab2d,
    900 : #6c9e1f,
    A100 : #efffd8,
    A200 : #daffa5,
    A400 : #c5ff72,
    A700 : #baff58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-pantone312u: (
    50 : #e0f5fa,
    100 : #b3e6f2,
    200 : #80d6e9,
    300 : #4dc6e0,
    400 : #26b9d9,
    500 : #00add2,
    600 : #00a6cd,
    700 : #009cc7,
    800 : #0093c1,
    900 : #0083b6,
    A100 : #dff5ff,
    A200 : #ace4ff,
    A400 : #79d4ff,
    A700 : #5fccff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-pantone179u: (
    50 : #fcecea,
    100 : #f8cfcc,
    200 : #f3afaa,
    300 : #ee8f87,
    400 : #ea776e,
    500 : #e65f54,
    600 : #e3574d,
    700 : #df4d43,
    800 : #db433a,
    900 : #d53229,
    A100 : #ffffff,
    A200 : #ffe2e0,
    A400 : #ffb1ad,
    A700 : #ff9994,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: #9ac144;
$secondary: #61635e;
$accent: #00add2;
$warn: #e65f54;
$light: #eceaea;
$dark: #61635e;
