/* You can add global styles to this file, and also import other style files */

@import './pib-colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


.col {
  flex: 1;
}

.col-2{
  flex: 2;
}

.row {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex: 1 1 auto;
}

